
{"serveripaddress":"52.59.95.168","myip":"52.59.95.168","newsip":"52.59.95.168","supportednations":"Nga;Viet Nam","callcenters":"Nga;Ukraina","phonenumber":"+79037685888;+38093985688","linkbongdalogo":"http://52.59.95.168:8080/bongda/",  "serveripaddressws": "ws://gamemango.mobi:18090"}
